// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";
@import "container";
// Add custom code after this


.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



